@import "variables";

.admin_layout {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .body {
    width: 100%;
    height: 100%;
  }

  main {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: $color-bg-grey;
    display: flex;
    flex-direction: column;
    gap: 14px;

    @include maxq(map-get($screen-sizes, "medium")) {
      position: relative;
    }

    .navHeader {
      @include flex(row, 1rem, space);
      box-sizing: border-box;
      position: sticky;
      top: 0px;
      z-index: 9;
      width: 100%;
      min-height: $navHeaderHeight;
      background-color: #fff;
      padding-right: 1rem;

      .breadCrumb {
        @include flex(row, 1rem);

        button.mobileToggleButton {
          @include mq(721px) {
            display: none;
          }
        }

        p {
          @include flex(row, 12px);
          align-items: center;
          font-size: 16px;
          color: $color-alt-text;
          font-weight: 400;
          padding: 0 rem(24px);
        }
      }

      .functions {
        @include flex(row, 1rem);

        .toggleLabel {
          min-width: rem(156px);
          min-height: rem(36px);
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          @include flex(row-reverse, 0.5rem, center);
          text-transform: capitalize;

          &.green {
            background-color: #e6ffeb;
          }

          &.red {
            background-color: #c7001d20;
          }
        }
      }
    }

    .outletContainer {
      padding: rem(24px);
      box-sizing: border-box;

      &.kycNav {
        max-height: calc(100% - 84px);
      }

      @include maxq(map-get($screen-sizes, "medium")) {
        padding: rem(16px);
      }
    }
  }
}
