@import "variables";

.sidebar {
  width: 100%;
  min-width: 272px;
  max-width: 272px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
  overflow-y: scroll;
  height: 100%;
  padding: rem(24px) rem(0px) rem(16px) rem(16px);
  background-color: $color-primary;
  // border-right: #f1f1f1 solid 1px;
  transition: 0.2s cubic-bezier(0.36, -0.01, 0, 0.77), heignt 0.5s ease-in-out;

  &.closed {
    overflow: hidden;
    position: absolute;
    left: -100%;
    z-index: 999;
  }

  &.open {
    position: absolute;
    left: 0px;
    min-width: max-content;
    max-width: 272px;
    z-index: 999;
    // background-color: #fff;
    padding: rem(24px) rem(0px) rem(16px) rem(10px);

    .logoContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: $navHeaderHeight;
      display: flex;
      align-items: center;
    }
  }

  .logo {
    padding-left: 1rem;
    cursor: pointer;
  }

  .toggleLabel {
    padding-left: 0.75rem;
    @include flex(row, 0.5rem);
    align-items: center;
    text-transform: capitalize;
    color: $color-subtext;
  }

  .routes {
    width: 100%;
    display: flex;
    flex-direction: column;
    // gap: 1.25rem;

    .sidebar_routes {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: rem(4px);
      // max-height: 240px;
      overflow: hidden;
      overflow-y: scroll;
      scroll-behavior: smooth;
      scrollbar-color: $color-deepgrey;

      &::-webkit-scrollbar {
        scroll-behavior: smooth;
        visibility: hidden;

        &:hover {
          visibility: visible;
        }
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-lightgrey;
        visibility: hidden;

        &:hover {
          visibility: visible;
        }
      }

      li {
        @include flex(row, 0.75rem, start);
        padding: rem(12px) rem(15px);
        transition: background-color 0.3s;
        // border-radius: rem(8px);
        color: #fff;
        cursor: pointer;
        font-weight: 400;

        &:hover {
          font-weight: 600;
        }
      }

      .active {
        color: #fff;
        border-right: 2px solid darken($color-primary, 20%);
        font-weight: 600;
      }
    }
  }

  .static_routes {
    @include flex(column, 0.25rem, "");

    a:not(.help_center_link),
    .settings_btn {
      @include flex(row, 0.75rem, start);
      padding: rem(15px);
      transition: background-color 0.3s;
      border-radius: rem(8px);
      color: $color-text;
      cursor: pointer;

      &:hover {
        color: $color-primary;
        background-color: $color-hover-green;
      }

      &.active {
        color: $color-primary;
        background-color: $color-hover-green;
      }
    }

    .notification {
      @include flex(row, 0.75rem, start);
    }

    .badge {
      background-color: $color-primary;
      color: $color-lightgrey;
      @include flex(row, 0, center);
      min-width: 28px;
      min-height: 28px;
      padding: 4px;
      border-radius: 50%;
      margin-left: auto;
    }

    .settings {
      &_desktop {
        display: none;

        @include mq(map-get($screen-sizes, "large")) {
          display: flex;
        }
      }

      &_mobile {
        @include mq(map-get($screen-sizes, "large")) {
          display: none;
        }
      }

      &_btn {
        font-size: rem(14px);
        .icon {
          margin-left: auto;
          transition: transform 100ms ease-out;

          &.open {
            transform: rotate(180deg);
          }
        }
      }

      &_dropdown {
        visibility: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.5s ease-in-out, opacity 0.5s linear;

        &.open {
          visibility: visible;
          max-height: max-content;
          opacity: 1;
          // transition: height 0.5s ease-in-out, visibility 0s, opacity 0.5s linear;
        }
      }
    }
  }
}

.mobileSidebarContainer {
  display: flex;
  position: absolute;
  z-index: 999;
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #00000053;

  .username {
    max-width: 160px;
  }

  .obfuscator {
    flex: 1;
  }
}

.help_center {
  position: relative;
  @include flex(row, 0.75rem, start);
  background-color: $color-primary;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: rem(8px);
  margin-top: rem(20px);
  font-size: 14px;
  cursor: pointer;

  .doc_wrapper {
    display: inline-flex;
    align-items: center;
    background-color: $color-lightgrey;
    color: $color-text;
    padding: rem(10px);
    border-radius: 50%;
  }

  .text_group {
    letter-spacing: 0.5px;
    margin-right: auto;
    p {
      color: #fff;
      font-size: 13px;
      font-size: 400;
    }
    span {
      font-size: 11px;
      font-weight: 300;
    }
  }
}

.user {
  position: relative;
  @include flex(row, 0.5rem, center);
  color: $color-text;
  margin-bottom: rem(10px);

  &_link {
    @include flex(row, 0.5rem, center);
    padding: 0 !important;
    gap: 0.5rem !important;
    color: #fff;
    width: 80%;

    &:hover {
      background-color: transparent !important;
    }
  }

  .profileIcon {
    min-width: 20%;
  }

  .logout {
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s linear;
    min-width: max-content;
    color: #fff;

    &:hover {
      transform: scale(1.1);
      transition: 0.3s linear;
    }
  }

  .username {
    flex: 1 1 0;
    width: 80%;
    box-sizing: border-box;
    p {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p.email {
      font-size: 13px;
      font-weight: 400;
    }
  }
}

.line {
  border-top: rem(1px) solid $color-border-light;
  margin: rem(20px) 0;
}
